<div class="site">
	
	<nav class="nav">
		<div class="nav__title">Abra sua conta</div>
		<ul class="nav__list">
			<li class="nav__item">Investimentos</li>
			<li class="nav__item">Planos</li>
      <li class="nav__item">Acesse sua conta  
        <form [formGroup]="form">
        <input type="text"
        placeholder="Digite seu CPF"
         maxlength="11"
         formControlName="cpf_master"
         >
          <button  [disabled]="form.invalid" (click)="verificar()" class="button">Acessar</button>
      </form>
      </li>
		</ul>
	</nav>
	
	<div  style="display:flex;justify-content:center;align-items:center;width: 100%; padding-top: 100px;">
    <router-outlet>

    </router-outlet>  
	</div>
	<footer class="footer">
		<h2></h2>
	</footer>
</div>